.bg-secondary {
  background-color: white !important;
}

.nav-link {
  background-color: rgb(255, 153, 0) !important; 
}

.nav-link:hover {
  background-color: rgba(255, 153, 0, 0.609) !important; ;
}

h1.bg-primary {
  color: white;
  background-color: rgb(255, 153, 0) !important; 
}

nav.bg-navbar {
  background: rgb(255, 153, 0); 
}

.nav-link {
  color: white !important;
}

ul.dropdown-menu {
  background: rgb(74, 74, 74);
  border-radius: 0px;
}

ul.dropdown-menu li a.dropdown-item {
  color: white;
}

ul.dropdown-menu li a.dropdown-item:hover {
  background: rgb(65, 65, 65);
}

.text-primary{
  color: rgb(255, 153, 0) !important;
}